@require './vendor/material-icons.styl'
@require './vendor/vuetify.styl'

.text-xs-center input {
    text-align: center;
}

.inline-input {
    width: 48px;
    display: inline-flex;
    border: none;
    outline: none;
}

.shrinked-column {
    width: 1px;
}

.tabs__items {
    // Toolbar height + bottom navigation height.
    min-height: calc(100vh - 184px);
    margin-bottom: 56px;
}
